@font-face { font-family: 'Megan June' ; src: url('MeganJune.otf'); }



*{
font-family: modithorsongrad;
text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
font-size: 30px;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  display: block;
  /* border: 1px solid black; */
  max-height: 95vh;
  max-width: 95vw;
  margin: auto;
}
